.form__error-message {
  background-color: rgb(255, 204, 0);
  color: black;
  margin: 0 0 1em;
  border-radius: 8px;
  padding: .5em;
  font-size: small;
}

.password-wrapper {
  position: relative;
}

.fa-eye {
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

.sign-in__form__input {
  margin-bottom: .5em;
}

.sign-in__form__button {
  margin-top: 2em;
}